
$header-text-color : #666666;
$light-gray-color : #dddddd;
$def-btn-clr : #ffbc4d;
$def-btn-hover-clr : #ffaf00;
$white-color: #ffffff;
$special-launch-color: #50bf00;
$launch-color : #ffbd00;
$underline-blue : #0080ff;
$carousel-arrow-color: rgba(0,0,0,0.3);

$side-space: 40px;